<section class="section-header-wraper">
    <div class="container nav-container">
		<nav class="navbar ">
			<div id="logo">
				<a href="#"><img src="/assets/icon/logo.svg"/></a>
			</div>
			<div class="dropdown-container">
				<div class="dropdown-wrapper">
					<a href="#">ข่าว</a>
					<div class="dropdown-submenu">
						<a href="#">พระราชสำนัก</a>
						<a href="#">ทั่วไทย</a>
						<a href="#">เศรษฐกิจ</a>
						<a href="#">ต่างประเทศ</a>
						<a href="#">การเมือง</a>
						<a href="#">สังคม</a>
						<a href="#">อาชญากรรม</a>
						<a href="#">ยานยนต์</a>
						<a href="#">ไอที</a>
					</div>
				</div>
				<a href="#">หนังสือพิมพ์</a>
				<div class="dropdown-wrapper">
					<a href="#">ไทยรัฐทีวี</a>
					<div class="dropdown-submenu">
						<a href="#">ดูย้อนหลัง</a>
						<a href="#">ผังรายการ</a>
						<a href="#">Most Watched</a>
						<a href="#">รายการแนะนำ</a>
						<a href="#">Live</a>
					</div>
				</div>
				<div class="dropdown-wrapper">
					<a href="#">ไลฟ์สไตล์ </a>
				</div>
				<div class="dropdown-wrapper">
					<a href="#">กีฬา</a>
					<div class="dropdown-submenu">

						<a href="#">ฟุตบอลไทย</a>
						<a href="#">ฟุตบอลยุโรป</a>
						<a href="#">ไทยลีก</a>
						<a href="#">ฟุตซอล</a>
						<a href="#">มวย/MMA</a>
						<a href="#">วอลเลย์บอล</a>
						<a href="#">เอเชียนเกมส์</a>
						<a href="#">กีฬาอื่นๆ</a>
						<a href="#">ไทยรัฐเชียร์ไทยแลนด์</a>
						<a href="#">ซีเกมส์ 2019</a>
					</div>
				</div>
				<a href="#">บันเทิง</a>
				<a href="#">ดวง</a>
				<a href="#">หวย</a>
				<a href="#">นิยาย</a>
				<a href="#">วิดีโอ</a>
				<div class="dropdown-wrapper">
					<a href="#">โปรโมชั่น</a>
					<div class="dropdown-submenu">
						<a href="#">ส่วนลด</a>
						<a href="#">เช็คราคา</a>
					</div>
				</div>
				<a href="#"><img src="/assets/icon/mirror.svg"/></a>
				<a href="#" class="menu-live"><span class="live-animate"></span>LIVE</a>
			</div>
			<a href="search-q=.html" class="menu-search"><img src="/assets/icon/search.svg"/></a>
			<header class="header-wrapper">
				<input class="menu-btn" type="checkbox" id="menu-btn" />
				<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
				<div class="menu-wrapper ">
					<div class="search-mobile">
					<div style="display:flex;">
						<input type="text">
						<button><img src="/assets/icon/search-white.svg"/></button>
					</div>
					</div>
					<ul class="sub-toggle-menu">
						<li>
							<input type="checkbox" checked>
							<i></i>
							<h2><a href="#">ข่าว</a></h2>
							<p>
								<a href="#">พระราชสำนัก</a>
								<a href="#">ทั่วไทย</a>
								<a href="#">เศรษฐกิจ</a>
								<a href="#">ต่างประเทศ</a>
								<a href="#">การเมือง</a>
								<a href="#">สังคม</a>
								<a href="#">อาชญากรรม</a>
								<a href="#">ยานยนต์</a>
								<a href="#">ไอที</a>
							</p>
						</li>

						<li>
							<input type="checkbox" checked>
							<i></i>
							<h2><a href="#">กีฬา</a></h2>
							<p>
								<a href="#">ฟุตบอลไทย</a>
								<a href="#">ฟุตบอลยุโรป</a>
								<a href="#">ไทยลีก</a>
								<a href="#">ฟุตซอล</a>
								<a href="#">มวย/MMA</a>
								<a href="#">วอลเลย์บอล</a>
								<a href="#">เอเชียนเกมส์</a>
								<a href="#">กีฬาอื่นๆ</a>
								<a href="#">ไทยรัฐเชียร์ไทยแลนด์</a>
								<a href="#">ซีเกมส์ 2019</a>
							</p>
						</li>


						<li>
							<input type="checkbox" checked>
							<i></i>
							<h2><a href="#">ไทยรัฐทีวี</a></h2>
							<p>
								<a href="#">ดูย้อนหลัง</a>
								<a href="#">ผังรายการ</a>
								<a href="#">Most Watched</a>
								<a href="#">รายการแนะนำ</a>
								<a href="#">Live</a>
							</p>
						</li>
						<li>
							<input type="checkbox" checked>
							<i></i>
							<h2><a href="#">โปรโมชั่น</a></h2>
							<p>
								<a href="#">ส่วนลด</a>
								<a href="#">เช็คราคา</a>

							</p>
						</li>
					</ul>
					<div class="menu-list-sub">
						<a href="#">ข่าว</a>
						<a href="#">พระราชสำนัก</a>
						<a href="#">ทั่วไทย</a>
						<a href="#">เศรษฐกิจ</a>
						<a href="#">ต่างประเทศ</a>
						<a href="#">การเมือง</a>
						<a href="#">สังคม</a>
						<a href="#">อาชญากรรม</a>
						<a href="#">ยานยนต์</a>
						<a href="#">ไอที</a>
					</div>

					<div class="menu-list-sub">
						<a href="#">กีฬา</a>

						<a href="#">ฟุตบอลไทย</a>
						<a href="#">ฟุตบอลยุโรป</a>
						<a href="#">ไทยลีก</a>
						<a href="#">ฟุตซอล</a>
						<a href="#">มวย/MMA</a>
						<a href="#">วอลเลย์บอล</a>
						<a href="#">เอเชียนเกมส์</a>
						<a href="#">กีฬาอื่นๆ</a>
						<a href="#">ไทยรัฐเชียร์ไทยแลนด์</a>
						<a href="#">ซีเกมส์ 2019</a>
					</div>
					<div class="menu-list-sub">
						<div class="pb-35">
							<a href="#">ไทยรัฐทีวี</a>
							<a href="#">ดูย้อนหลัง</a>
							<a href="#">ผังรายการ</a>
							<a href="#">Most Watched</a>
							<a href="#">รายการแนะนำ</a>
							<a href="#">Live</a>
						</div>
						<div class="col-2">
							<a href="#">โปรโมชั่น</a>
							<a href="#">ส่วนลด</a>
							<a href="#">เช็คราคา</a>						
						</div>
					</div>

					<div class="menu-set">

						<div class="menu-list-section">
							<a href="#">Thairath Talk</a>
							<a href="#">MIRROR</a>
							<a href="#">ไลฟ์สไตล์</a>
							<a href="#">หนังสือพิมพ์</a>
							<a href="#">นิยาย</a>
							<a href="#">บันเทิง</a>
							<a href="#">วิดีโอ</a>


							<a href="#">ดวง</a>
							<a href="#">มัลติมีเดีย</a>
							<a href="#">กิจกรรม</a>
							<a href="#">หวย</a>
							<a href="#"><img src="/assets/icon/mirror-140.svg"/></a>
						</div>
						<div class="menu-list-other">
							<div>
								<a href="https://kamphol.thairath.co.th">
									<img alt="" title="" src="/assets/img/100years.png">
									<span>100ปี ชาตกาล<br>กำพล วัชรพล</span>
								</a>
							</div>
							<div class="menu-list-other-sub">
								<a href="#">・ร่วมงานกับเรา</a>
								<a href="#">・เกี่ยวกับเรา</a>
								<a href="#">・ติดต่อเรา</a>
								<a href="#">・ติดต่อโฆษณา</a>
							</div>
						</div>
						<div class="menu-social">
							<a href="http://www.facebook.com/Thairath" target="_blank"><img src="/assets/icon/facebook-head.svg"/> <span>Facebook</span></a>
							<a href="http://www.twitter.com/Thairath_News" target="_blank"><img src="/assets/icon/twitter.svg"/> <span>Twitter</span></a>
							<a href="https://www.instagram.com/thairath/" target="_blank"><img src="/assets/icon/instagram.svg"/> <span>Instagram</span></a>
							<a href="https://www.youtube.com/user/thairathonline" target="_blank"><img src="/assets/icon/youtube.svg"/> <span>Youtube</span></a>
						</div>
					</div>
			</header>
		</nav>
	</div>
</section>